.volume {
	position: relative;
	display: inline-block;
	width: 220px; height: 40px;

	a.icon-level {
		position: absolute;
		top: 8px; left: 8px;

		width: 24px; height: 24px;
		background-repeat: no-repeat;
		background-size: 24px;
		display: block;

		&.low {
			background-image: url(../img/controls/volume-low.svg);
		}

		&.medium {
			background-image: url(../img/controls/volume-medium.svg);
		}

		&.high {
			background-image: url(../img/controls/volume-high.svg);
		}

		&.mute {
			background-image: url(../img/controls/volume-mute.svg);
		}

		&.mute2 {
			background-image: url(../img/controls/volume-mute2.svg);
		}
	}
	
	input.value {
		position: absolute;
		top: 16px; left: 40px;
		height: 3px;
		-webkit-appearance: none;
		background: $mediumGray;
		outline: 0;
	}
	input.value::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: $black;
		width: 6px; height: 18px;
		border-radius: 3px;
		cursor: pointer;
	}

	span.level {
		position: absolute;
		top: 8px; left: 180px;
		font-size: 16px;
		font-weight: bold;
	}
}